$light: #fff;
$dark10: #E7E9EA;
$dark30: #B6BBBF;
$dark60: #6C777E;
$dark: #0A1C28;
$red: #ED1C00;
$blue50: #EAF5FF;
$blue100: #D8EDFF;
$blue200: #B9DBFF;
$blue300: #8FC1FF;
$blue400: #629AFF;
$blue500: #3F73FF;
$blue600: #1D47FF;
$blue700: #1B40F0; // main
$blue800: #1334C0;
$blue900: #193496;
$blue950: #070B33;

$white: $light;
$black: $dark;
$grey: #4E545C;
$accent: #efd167;
$text-color: $dark;
$text-color-lighter: $dark60;
$primary-color: $blue700;
$primary-hover: $blue900;
$heading-color: $dark;
$secondary-color: $text-color-lighter;
$marker-green-color: #50b22f;
$form-grey-color: $dark60;
$body-background: $white;
$required-and-error: #ED1C00;
$bestseller-color: #e85020;
$novelty-color: #4bb748;
$items-border: $dark30;
$items-border-hover: $dark;
$catalog-background: $white;
$promotion-background: #d8b888;
$full-price-background: #f4f5fb;
$comparison-button: #FF9029;
