@font-face {
  font-display: swap;
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 400;
  src: local('☺'),
       url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');
}
@font-face {
  font-display: swap;
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 500;
  src: local('☺'),
       url('../fonts/SF-Pro-Display-Medium.otf') format('opentype');
}
@font-face {
  font-display: swap;
  font-family: 'SFProText';
  font-style: normal;
  font-weight: 400;
  src: local('☺'),
       url('../fonts/SFProText-Regular.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 600;
  src: local('☺'),
       url('../fonts/SF-Pro-Display-Semibold.otf') format('opentype');
}
@font-face {
  font-display: swap;
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 700;
  src: local('☺'),
       url('../fonts/SF-Pro-Text-Bold.otf') format('opentype');
}